/* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

.header {
  height: 71px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(33, 33, 33, 0.8);
  backdrop-filter: blur(11px);
}

.bg {
  height: 590px;

  background: linear-gradient(268.39deg, rgba(0, 0, 0, 0) 21.45%, #000000 85.16%), url(../img/Rectangle\ 47.jpg);
  background-size: cover;

  background-repeat: no-repeat;
}

.header-contact-box,
.search-box {
  width: 242px;
  max-height: 24px;
  display: flex;
  justify-content: space-around;
}

.search-box {
  width: 122px;
}


a {
  display: inline-block;
  line-height: 20px;
}

.header-contact-box img,
.search-box img {
  width: 20px;
  height: 19px;
  transition: all 1s;

}

a>img:hover {
  transform: rotate(360deg);

}

.tel {

  font-size: 20px;
  color: #FFFFFF;
}

.logo {
  height: 35px;
  width: 146px;
}

body {
  background-color: azure;
}
 






* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #eeeeee;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px auto;
  width: 80%;
  height: 70px;
  border-radius: 10px;
  -webkit-box-shadow: -7px -7px 20px 0 #fff9,
    -4px -4px 5px 0 #fff9,
    7px 7px 20px 0 #0002,
    4px 4px 5px 0 #0001,
    inset 0px 0px 0px 0px #fff9,
    inset 0 0 0 0 #0001,
    inset 0 0 0 0 #fff9,
    inset 0 0 0 0 #0001;
  box-shadow: -7px -7px 20px 0 #fff9,
    -4px -4px 5px 0 #fff9,
    7px 7px 20px 0 #0002,
    4px 4px 5px 0 #0001,
    inset 0px 0px 0px 0px #fff9,
    inset 0 0 0 0 #0001,
    inset 0 0 0 0 #fff9,
    inset 0 0 0 0 #0001;
  -webkit-transition: -webkit-box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
  transition: -webkit-box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81), -webkit-box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
}

.menu li {

  list-style-type: none;
  font-size: 28px;
  text-transform: uppercase;
  color: #f37474;
  font-weight: bold;
  box-shadow: -7px -7px 20px 0 #fff9,
    -4px -4px 5px 0 #fff9,
    7px 7px 20px 0 #0002,
    4px 4px 5px 0 #0001,
    inset 0px 0px 0px 0px #fff9,
    inset 0 0 0 0 #0001,
    inset 0 0 0 0 #fff9,
    inset 0 0 0 0 #0001;
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
}



.m_button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: pointer;
  background-color: #eeeeee;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  -webkit-box-shadow: -7px -7px 20px 0 #fff9,
    -4px -4px 5px 0 #fff9,
    7px 7px 20px 0 #0002,
    4px 4px 5px 0 #0001,
    inset 0px 0px 0px 0px #fff9,
    inset 0 0 0 0 #0001,
    inset 0 0 0 0 #fff9,
    inset 0 0 0 0 #0001;
  box-shadow: -7px -7px 20px 0 #fff9,
    -4px -4px 5px 0 #fff9,
    7px 7px 20px 0 #0002,
    4px 4px 5px 0 #0001,
    inset 0px 0px 0px 0px #fff9,
    inset 0 0 0 0 #0001,
    inset 0 0 0 0 #fff9,
    inset 0 0 0 0 #0001;
  -webkit-transition: -webkit-box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
  transition: -webkit-box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81), -webkit-box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
}




.m_button:hover {
  -webkit-box-shadow: 0 0 0 0 #fff9,
    0 0 0 0 #fff9,
    0 0 0 0 #0001,
    0 0 0 0 #0001,
    inset -7px -7px 20px 0 #fff9,
    inset -4px -4px 5px 0 #fff9,
    inset 7px 7px 20px 0 #0003,
    inset 4px 4px 5px 0 #0001;
  box-shadow: 0 0 0 0 #fff9,
    0 0 0 0 #fff9,
    0 0 0 0 #0001,
    0 0 0 0 #0001,
    inset -7px -7px 20px 0 #fff9,
    inset -4px -4px 5px 0 #fff9,
    inset 7px 7px 20px 0 #0003,
    inset 4px 4px 5px 0 #0001;
}
*/
/*.m_button:hover {
  background-color: blueviolet;
}*/

/*# sourceMappingURL=main.css.map */

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  font-family: 'Playfair Display', serif;
}

.menu {
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
}

.menu>li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 25px;
  padding: 10px;
  width: 180px;
  height: 50px;
  color: #14c9d1;
  text-align: center;
  letter-spacing: 5px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: -7px -7px 20px 0 #fff9,
    -4px -4px 5px 0 #fff9,
    7px 7px 20px 0 #0002,
    4px 4px 5px 0 #0001,
    inset 0px 0px 0px 0px #fff9,
    inset 0 0 0 0 #0001,
    inset 0 0 0 0 #fff9,
    inset 0 0 0 0 #0001;
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
}

.menu>li:hover {
  box-shadow: 0 0 0 0 #fff9,
    0 0 0 0 #fff9,
    0 0 0 0 #0001,
    0 0 0 0 #0001,
    inset -7px -7px 20px 0 #fff9,
    inset -4px -4px 5px 0 #fff9,
    inset 7px 7px 20px 0 #0003,
    inset 4px 4px 5px 0 #0001;
}

.drop-box {
  display: none;
  position: relative;
  top: 8px;
  left: -9px;
  width: 180px;
  box-shadow: 0 0 0 0 #fff9,
    0 0 0 0 #fff9,
    0 0 0 0 #0001,
    0 0 0 0 #0001,
    inset -7px -7px 20px 0 #fff9,
    inset -4px -4px 5px 0 #fff9,
    inset 7px 7px 20px 0 #0003,
    inset 4px 4px 5px 0 #0001;
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
}

.drop-menu {
  padding: 10px;
  height: 50px;
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
}

.menu>li:hover .drop-box {
  display: block;
  transition: box-shadow 0.8s cubic-bezier(0.79, 0.21, 0.06, 0.81);
}

.drop-menu:hover {
  box-shadow: 0 0 0 0 #fff9,
    0 0 0 0 #fff9,
    0 0 0 0 #0001,
    0 0 0 0 #0001,
    inset -7px -7px 20px 0 #fff9,
    inset -4px -4px 5px 0 #fff9,
    inset 7px 7px 20px 0 #0003,
    inset 4px 4px 5px 0 #0001;
  transition: box-shadow 0.8s cubic-bezier(0.79, 0.21, 0.06, 0.81);
}